{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'pyquiz/bootstrap/css/bootstrap.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pyquiz/css/main.css' %}" crossorigin="anonymous">
    <title>pyQuiz{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="page-header">
            <a href="{% url 'question_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1>PyQuiz</h1>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'pyquiz/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'pyquiz/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>