{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Quiz/Question/Answer</h1>
<form method="post" action="{% url 'start_test' quiz_id=test.quiz.id %}">
    {% csrf_token %}

    {{questions}}

    {% for question in questions %}
        <h3>{{question.value}}</h3>
    <fieldset id="question" name='question'>
        {% for answer in question.answer_set %}
        <label for="answer">{{answer.vale}}</label>
        <input type="radio" value="answer.pk" name="answers">
        <label for="answer">{{answer.vale}}</label>
        <input type="radio" value="answer.pk" name="answers">
        <label for="answer">{{answer.vale}}</label>
        <input type="radio" value="answer.pk" name="answers">
        <label for="answer">{{answer.vale}}</label>
        <input type="radio" value="answer.pk" name="answers">
    </fieldset>
    {%endfor%}
    {%endfor%}


    <input type="submit" value="Save">
</form>
{% endblock %}